.box{
    padding: 100px;
    margin: auto;
}

.ref {
    float: left;
    margin-bottom: 10px;
    width: 100%;

}

.date {
    float: right;
}

.blocker-content{
    font-size: 130%;
    width: 96%;
    float: right;
    border: solid;
}

.urgency {
    float: right;
}
